:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #757575;
  --bg-grey: #e5e5e5;
  --blue: #2196f3;
  --nav-dark: #212121;
  --bg-dark: #2f303a;
  --bg-light: #f5f4fa;
  --border-portfolio: #eeeeee;
  --border-header: #ececec;
  --team-social: #afb1b8;
  --footer-social: rgba(255, 255, 255, 0.1);
  --gradient: rgba(47, 48, 58, 0.4);
  --btn-shadow: rgba(0, 0, 0, 0.15);
  --footer-link: rgba(255, 255, 255, 0.6);
  --transition-fn: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
  /* background: var(--bg-grey); */
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.link-no-underline {
  text-decoration: none;
}

.highlight-text,
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.contact-footer-link:hover,
.contact-footer-link:focus,
.nav-list .current-link {
  color: var(--blue);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

/* header */

.header {
  background-color: var(--white);
  border-bottom: 1px solid var(--border-header);
}

.header .container {
  display: flex;
  align-items: center;
  padding: 24px 0 25px;
}

.logo-black {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black);
  margin-right: 93px;
}

.nav-list {
  display: flex;
}

.nav-item-margin {
  margin-right: 46px;
}

.nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--nav-dark);
  transition: 250ms color var(--transition-fn);
}

.current-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--blue);
  transform: translateY(28px);
  border-radius: 2px;
}

.nav-contact {
  display: flex;
  margin-left: 345px;
}

.contact-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey);
  fill: var(--grey);
  transition: 250ms color var(--transition-fn);
}

.contact-icon {
  transition: 250ms fill var(--transition-fn);
}

.contact-icon:hover,
.contact-icon:focus {
  fill: var(--blue);
}

.icon-margin {
  margin-right: 10px;
}

.nav-contact-margin {
  margin-right: 30px;
}

/* banner */

.section-banner {
  background-color: var(--bg-dark);
  background-image: linear-gradient(var(--gradient), var(--gradient)), url(../images/banner.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
}

.banner-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  width: 696px;
  margin: 0 auto;
}

.banner-btn {
  width: 200px;
  background-color: var(--blue);
  box-shadow: 0px 4px 4px var(--btn-shadow);
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  border: none;
  margin-top: 30px;
  padding: 10px 0;
}

/* description */

.section-description {
  background-color: var(--white);
  padding-bottom: 0;
}

.description-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.description-icon-box {
  background-color: var(--bg-light);
  height: 120px;
  width: 270px;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--nav-dark);
  margin-bottom: 10px;
}

/* what we are doing  */

.section-doing {
  background-color: var(--white);
}

.doing-header,
.team-header,
.clients-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--nav-dark);
  margin-bottom: 50px;
}

.doing-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.doing-item {
  position: relative;
}

.img-label {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding: 27px 0;
  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);
}

/* our team  */

.section-team {
  background-color: var(--bg-light);
}

.team-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.team-box {
  width: 270px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--nav-dark);
  margin: 30px 0 10px;
}

.team-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--team-social);
  background-color: var(--white);
  transition: 250ms fill var(--transition-fn), 250ms background-color var(--transition-fn);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--blue);
  fill: var(--white);
}

/* our clients */

.section-clients {
  background-color: var(--white);
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--team-social);
  fill: var(--team-social);
  border-radius: 4px;
  transition: 250ms fill var(--transition-fn), 250ms border-color var(--transition-fn);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--blue);
  border-color: var(--blue);
}

/* portfolio filter */

.portfolio {
  background-color: var(--white);
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-btn {
  background-color: var(--bg-light);
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-dark);
  border: none;
  padding: 6px 22px;
  transition: 250ms background-color var(--transition-fn), 250ms color var(--transition-fn),
    250ms box-shadow var(--transition-fn);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white);
}

/* portfolio items  */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.portfolio-item {
  width: 370px;
  background-color: var(--white);
  border: 1px solid var(--border-portfolio);
  transition: 250ms box-shadow var(--transition-fn);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.portfolio-label {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: var(--white);
  padding: 49px 45px 49px 24px;
  transform: translateY(100%);
  transition: 250ms transform var(--transition-fn);
}

.portfolio-item:hover .portfolio-text {
  transform: translateY(0);
}

.portfolio-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--nav-dark);
  padding: 20px 24px 4px 24px;
}

.portfolio-description {
  line-height: 1.88;
  padding: 0 24px 20px 24px;
}

/* footer */

.footer {
  background-color: var(--bg-dark);
  padding: 60px 0;
}

.footer-container {
  display: flex;
}

.footer-address {
  width: 246px;
}

.logo-white {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white);
}

.address {
  margin-top: 20px;
  color: var(--white);
  font-style: normal;
}

.contact-footer-list li {
  margin: 9px 0;
}

.contact-footer-link {
  color: var(--footer-link);
  transition: 250ms color var(--transition-fn);
}

.footer-socials {
  margin-top: 12px;
  margin-left: 70px;
}

.footer-socials-header {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--white);
  background-color: var(--footer-social);
  transition: 250ms background-color var(--transition-fn);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--blue);
}
