.benefits {
  background-color: $white;
  padding-bottom: 0;

  &__list {
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  &__item {
    flex-basis: 270px;
  }

  &__icon-box {
    background-color: $bg-light;
    height: 120px;
    width: 270px;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $nav-dark;
    margin-bottom: 10px;
  }
}
