.clients {
  background-color: $white;

  &__heading {
    @extend %heading;
  }

  &__list {
    max-width: 480px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 15px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    border: 1px solid $team-social;
    fill: $team-social;
    border-radius: 4px;
    transition: 250ms fill $transition-fn, 250ms border-color $transition-fn;

    &:hover,
    &:focus {
      fill: $highlight;
      border-color: $highlight;
    }
  }
}

@media screen and (min-width: 768px) {
  .clients {
    &__list {
      max-width: 100%;
      margin: 0;
    }

    &__link {
      width: 226px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    &__link {
      width: 170px;
    }
  }
}
