.doing {
  background-color: $white;
  display: none;

  &__heading {
    @extend %heading;
  }

  &__list {
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  &__item {
    position: relative;
  }

  &__img-label {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    padding: 27px 0;
    color: $white;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
@media screen and (min-width: 1200px) {
  .doing {
    display: block;
  }
}
