.footer {
  background-color: $bg-dark;
  padding: 60px 0;

  &__container {
    display: flex;
  }

  &__heading {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 20px;
  }

  &__contact {
    width: 246px;
  }

  &__address {
    margin-top: 20px;
    color: $white;
    font-style: normal;
  }

  &__contact-item {
    margin: 9px 0;
  }

  &__contact-link {
    color: $footer-link;
    transition: 250ms color $transition-fn;

    &:hover,
    &:focus {
      color: $highlight;
    }
  }

  &__socials {
    margin-top: 12px;
    margin-left: 70px;
  }

  &__socials-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $white;
    background-color: $footer-social;
    transition: 250ms background-color $transition-fn;

    &:hover,
    &:focus {
      background-color: $highlight;
    }
  }

  &__newsletter {
    margin-top: 12px;
    margin-left: 78px;
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $bg-dark;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 16px;
    outline: none;
  }

  &__btn {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    fill: $white;
    color: $white;
    width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 12px;
    border: none;
    padding: 10px 0 10px 42px;
    cursor: pointer;
  }

  &__btn-icon {
    margin-left: 24px;
  }
}
