.header {
  background-color: $white;
  border-bottom: 1px solid $border-header;

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 0;
    position: relative;
  }

  &__logo {
    margin-left: 15px;
  }

  &__contact-list {
    display: none;
    margin-right: 15px;
  }

  &__contact-item:not(:last-child) {
    padding-bottom: 10px;
  }

  &__contact-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $grey;
    fill: $grey;
    transition: 250ms color $transition-fn, 250ms fill $transition-fn;

    &:hover,
    &:focus {
      color: $highlight;
      fill: $highlight;
    }
  }

  &__contact-icon {
    margin-right: 10px;
  }

  &__btn {
    min-height: 40px;
    min-width: 40px;
    position: absolute;
    right: 15px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    fill: $nav-dark;
    cursor: pointer;
    border: none;
    border-radius: 10%;

    &:hover,
    &:focus {
      fill: $highlight;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__container {
      padding: 21px 0;
      justify-content: center;
    }

    &__btn {
      display: none;
    }

    &__contact-list {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    &__container {
      padding: 24px 0 25px 0;
      justify-content: flex-start;
    }

    &__contact-link {
      font-size: 14px;
      line-height: 1.14;
    }

    &__contact-list {
      flex-direction: row;
      margin-right: 0;
      margin-left: 345px;
    }

    &__contact-item:not(:last-child) {
      margin-right: 30px;
      padding-bottom: 0;
    }
  }
}
