.menu {
  margin-left: 83px;
  margin-right: 101px;

  &__list {
    display: none;
  }

  &__item:not(:last-child) {
    margin-right: 60px;
  }

  &__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $nav-dark;
    transition: 250ms color $transition-fn;

    &:hover,
    &:focus {
      color: $highlight;
    }

    &--current {
      color: $highlight;
    }

    &--current::after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      bottom: 0;
      left: 0;
      background-color: $highlight;
      transform: translateY(28px);
      border-radius: 2px;
    }
  }
}

@media screen and (min-width: 768px) {
  .menu {
    &__list {
      display: flex;
    }
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    margin-left: 93px;
    margin-right: 0;

    &__item:not(:last-child) {
      margin-right: 46px;
    }
  }
}
