$black: #000000;
$white: #ffffff;
$grey: #757575;
$bg-grey: #e5e5e5;
$highlight: #2196f3;
$nav-dark: #212121;
$bg-dark: #2f303a;
$bg-light: #f5f4fa;
$border-portfolio: #eeeeee;
$border-header: #ececec;
$team-social: #afb1b8;
$footer-social: rgba(255, 255, 255, 0.1);
$gradient: rgba(47, 48, 58, 0.4);
$btn-shadow: rgba(0, 0, 0, 0.15);
$footer-link: rgba(255, 255, 255, 0.6);
$transition-fn: cubic-bezier(0.4, 0, 0.2, 1);
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway';
%heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: $nav-dark;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  %heading {
    margin-bottom: 50px;
  }
}
